header{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
a{
    color: antiquewhite;
    font-size: 60px;
}
a:hover{
    transform: rotate(360deg);
    transition: all 1s;
}

body{
    background-image: url(file:///C:/Users/Admin/OneDrive/Escritorio/Fox%20academy/contact.jpg); 
}

section{
    display: grid;
    grid-template-columns: 950px 950px;
    grid-template-rows: 350px;
}

.grid{
    text-align: center;
}

h1{
    font-size: 60px;
}

h2{
    font-size: 50px;
}

h3{
    font-size: 60px;
}

h4{
    font-size: 50px;
}

h5{
    font-size: 60px;
}

h6{
    font-size: 50px;
}

@media screen and (max-width: 480px) {
    .grid{
        display: grid;
        grid-template-columns: 30pc;
        grid-template-rows: 100px 150px ;
        text-align: center;
    }
    
    a{
        font-size: 25px;
    }
    h1{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 20px;
    }
    }

    @media screen and (max-width: 767px){
        
        .grid{
            display: grid;
            grid-template-columns: 50pc;
            grid-template-rows: 150px 200px ;
            text-align: center;
        }

        a{
            font-size: 50px;
        }
        h1{
            font-size: 40px;
        }
        h3{
            font-size: 40px;
        }
        h5{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
        }
        h4{
            font-size: 30px;
        }
        h6{
            font-size: 30px;
        }