header{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}
a{
    color: antiquewhite;
    font-size: 60px;
}
a:hover{
    transform: rotate(360deg);
    transition: all 1s;
}

body{
    background-image: url(file:///C:/Users/Admin/OneDrive/Escritorio/Fox%20academy/contact.jpg); 
}

section{
    display: grid;
    grid-template-columns: 1000px 600px;
    grid-template-rows: 350px ;

}



h1{
    font-size: 60px;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-align: center;
    display: block;
    width: 50pc;
    display: flex;
    flex-direction: column;
}

h2{
    font-size: 40px;
    color: antiquewhite;
    display: block;
    width: 50pc;
    text-align: center;
    
}

h3{
    text-align: center;
    font-size: 60px;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: black;
    display: block;
    width: 50pc;
}
    
h4{
    text-align: center;
    font-size: 40px;
    color: wheat;
    text-decoration-line: underline;
    text-decoration-color: wheat;
    display: block;
    width: 50pc;
}

h5{
    text-align: center;
    font-size: 60px;
    color: black;
    text-decoration-line: underline;
    text-decoration-color: black;
    display: block;
    width: 50pc;
}

h6{
    text-align: center;
    font-size: 40px;
    color: wheat;
    text-decoration-line: underline;
    text-decoration-color: wheat; 
    display: block; 
    width: 50pc;
}